.success {
    background-color: #57a71c;
}

.failed {
    background-color: #9e091e;
}

.running {
    background-color: #10aded;
}

.pending {
    background-color: #d14810;
}

.canceled {
    background-color: #111111;
}

.skipped {
    background-color: #594274;
}

.manual {
    background-color: #606060;
}
