.success {
    background-color: green;
}

.failed {
    background-color: red;
}

.running {
    background-color: blue;
}

.pending {
    background-color: orange;
}

.canceled {
    background-color: black;
}

.manual {
    background-color: grey;
}

.skipped {
    background-color: purple;
}
