.Project {
  text-align: center;
  border: 5px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 5px;
  padding: 0;
  padding-top: 5px;
}

.Project h1, .Project h2 {
  font-weight: bold;
}

.Project-intro {
  font-size: large;
}
